div.container {
  position: fixed;
  right: 40px;
  top: 68px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .active {
    color: #c8ff46;
    font-size: 64px;
    font-weight: 600;
  }

  button {
    background: none;
    border: none;
    height: 100%;
    color: white;
    font-size: 40px;
    padding: 15px;

    fa-icon {
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        font-size: 45px;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  div.container {
    right: 40px;
    top: 59px;
    font-size: 24px;

    .active {
      font-size: 40px;
    }

    button {
      font-size: 30px;
      padding: 10px;

      fa-icon:hover {
        font-size: 34px;
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  div.container {
    right: 32px;
    top: 50px;
    font-size: 19px;

    .active {
      font-size: 35px;
    }

    button {
      font-size: 24px;
      padding: 6px;

      fa-icon:hover {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  div.container {
    right: 32px;
    top: auto;
    bottom: 11.5vh;
    font-size: 16px;
    z-index: 5;

    .active {
      font-size: 28px;
    }

    button {
      font-size: 24px;
      padding: 6px;
    }
  }
}
