
div(class="container")
  button((click)="decreaseActivePage()" class="right")
    fa-icon([icon]="faArrowLeft")
  div(class="wrapper")
    span(class="active") {{ activePage < 10 ? ("0" + (activePage+1)) : (activePage+1) }}
    span 06
  button((click)="increaseActivePage()" )
    fa-icon([icon]="faArrowRight")

