
<div class="container">
  <header>
    <h1>Add Comment</h1>
    <div class="icon">
      <fa-icon routerLink="" [icon]="faComment"></fa-icon>
    </div>
  </header>
  <form>
    <input type="text" id="name" required="required" placeholder="name" [value]="name" (input)="name=getValue($event)"/><br/>
    <input type="email" value="aenean@ipsum.com" id="email" placeholder="email" [value]="email" (input)="email=getValue($event)"/><br/>
    <textarea type="text" placeholder="Pestilentia, shaun ofthe dead scythe..." id="content" [value]="content" (input)="content=getValue($event)"></textarea>
  </form>
  <footer>
    <p (click)="toggleShowComments()">Odrzuć</p>
    <button class="button" (click)="postComment()">
      <p>Wyślij</p>
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </footer>
</div>