
<div class="container">
  <header>
    <h1>Add Comment</h1>
    <div class="icon">
      <fa-icon routerLink="faComment"></fa-icon>
    </div>
  </header>
  <form>
    <input type="text" id="name" required="required" placeholder="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/><br/>
    <input type="email" id="email" placeholder="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/><br/>
    <textarea type="text" placeholder="Pestilentia, shaun ofthe dead scythe..." id="content" [(ngModel)]="content" [ngModelOptions]="{standalone: true}"></textarea>
  </form>
  <footer>
    <p (click)="toggleShowComments()">Odrzuć</p>
    <button class="button" (click)="postComment()">
      <p>Wyślij</p>
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </footer>
</div>