h1 {
  position: fixed;
  left: 64px;
  bottom: 48px;

  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;

  .light {
    font-weight: 200;
  }
}

@media only screen and (max-width: 1366px) {
  h1 {
    left: 56px;
    bottom: 40px;
    font-size: 46px;
  }
}

@media only screen and (max-width: 1020px) {
  h1 {
    left: 0;
    bottom: 100px;
    font-size: 35px;
    transform: rotate(-90deg);
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 24px;
    left: 2.5vh;
    bottom: 2.5vh;
    transform: rotate(0);
  }
}
