div(class="main-wrapper")
  div(id="grid-background")
    div(class="container" id="detailsContainer")
      header(class="page-header")
        div(class="icon")
          ng-container(*ngIf='randomNumber == 0')
            fa-icon([icon]="faStarOfLife")
          ng-container(*ngIf='randomNumber == 1')
            fa-icon([icon]="faCode")
          ng-container(*ngIf='randomNumber == 2')
            fa-icon([icon]="faCompass")
          ng-container(*ngIf='randomNumber == 3')
            fa-icon([icon]="faBone")
          ng-container(*ngIf='randomNumber == 4')
            fa-icon([icon]="faCampground")
          ng-container(*ngIf='randomNumber == 5')
            fa-icon([icon]="faAngleLeft")
          ng-container(*ngIf='randomNumber == 6')
            fa-icon([icon]="faEye")
          ng-container(*ngIf='randomNumber == 7')
            fa-icon([icon]="faCat")
          ng-container(*ngIf='randomNumber == 8')
            fa-icon([icon]="faDog")
          ng-container(*ngIf='randomNumber == 9')
            fa-icon([icon]="faHeart")
        div(class="close")
          fa-icon(routerLink="", [icon]="faTimes")
        
      section(class="post")
        header([textContent]="post.title")
        article( [textContent]="post.body")

      router-outlet

      section(class="comments", *ngIf="showComments")
        header
          h1 Comments
        article(class="comments-wrapper")
          div
            ng-container(*ngFor="let comment of comments")
              app-comment([comment]="comment")
        footer
          fa-icon([icon]="faTimes", (click)="toggleShowComments()")

      ng-container(*ngIf="!showComments")
        app-add-comment([comments]="comments", [toggleShowComments]="toggleShowComments")
