h1 {
  position: fixed;
  width: 225px;
  height: 119px;
  left: 64px;
  top: 48px;

  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 119px;

  text-transform: uppercase;

  color: #ffffff;
}

@media only screen and (max-width: 1366px) {
  h1 {
    width: 180px;
    height: 95px;
    left: 56px;
    top: 40px;
    font-size: 64px;
    line-height: 95px;
  }
}
