div {
  background: linear-gradient(
    180deg,
    #5522e8 0%,
    rgba(113, 34, 232, 0.9375) 100%
  );
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
}

// @media only screen and (max-width: 800px) {
//   div {
//     .menu-container {
//       height: 20vh;
//       width: 100%;
//       content: "";
//       position: fixed;
//       bottom: 0;
//       left: 0;
//       z-index: 500;
//       background: #041c26;
//     }
//   }
// }
