:host {
  background-color: white;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 3%;
  width: 47%;

  header {
    height: 120px;
    padding-top: 24px;
    padding-left: 24px;

    .icon {
      width: 96px;
      height: 96px;
      background: linear-gradient(91.62deg, #c8ff46 31.18%, #97ff46 100%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
    }
  }

  div {
    height: calc(100% - 224px);
  }

  h3 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    padding-left: 24px;
    padding-right: 24px;
  }

  p.body {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    padding: 40px 24px 56px 24px;
  }

  footer {
    background: linear-gradient(91.62deg, #c8ff46 31.18%, #97ff46 100%);
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 24px 0 48px;
    transition: all 0.5s;

    fa-icon {
      transform: rotate(-45deg);
    }

    &:hover {
      cursor: pointer;

      p {
        text-decoration-line: underline;
      }

      fa-icon {
        transform: rotate(-405deg);
      }
    }

    fa-icon {
      font-size: 26px;
      transition: all 0.3s;
    }

    p {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      transition: all 0.3s;
    }
  }
}

@media only screen and (max-width: 1366px) {
  :host {
    header {
      height: 104px;
      padding-top: 16px;
      padding-left: 16px;

      .icon {
        width: 64px;
        height: 64px;
        font-size: 24px;
      }
    }

    div {
      height: calc(100% - 175px);
    }

    h3 {
      font-size: 24px;
      line-height: 28px;
      padding: 0 32px;
    }

    p.body {
      font-size: 14px;
      padding: 16px 32px 16px 32px;
    }

    footer {
      height: 56px;
      padding: 0 14px 0 32px;

      fa-icon {
        font-size: 22px;
      }

      p.footer {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    width: 100%;

    header {
      height: 72px;
      padding-top: 16px;
      padding-left: 16px;

      .icon {
        width: 64px;
        height: 64px;
        font-size: 24px;
      }
    }

    div {
      height: calc(100% - 125px);
    }

    h3 {
      font-size: 20px;
      line-height: 28px;
      padding: 0 32px;
    }

    p.body {
      font-size: 12px;
      padding: 16px 32px 16px 32px;
      line-height: 20px;
    }

    footer {
      height: 40px;

      fa-icon {
        font-size: 19px;
        transform: rotate(-45deg);
      }

      p.footer {
        font-size: 16px;
      }
    }
  }
}
