div(class="container")
  div(class="head")
    div(class="name", [textContent]="comment.name")
    div(class="email")
      a(href="*",  [textContent]="comment.email")
  div(class="body",  [textContent]="comment.body")

